.swal2-title {
}

.title-confirm {
  font-size: 25px !important;
}

.title-mini-alert {
  font-size: 16px !important;
  margin: 0px 0px 0px 10px !important;
}

.title-big-alert {
  font-size: 25px !important;
  color: black !important;
}

.swal2-icon {
  font-size: 12px !important;
}

.swal2-confirm,
.swal2-cancel {
  padding: 10px 25px !important;
  color: white !important;
  border: none !important;
  box-shadow: none !important;
}

.swal2-confirm {
  background-color: blue !important;
}

.swal2-cancel {
  background-color: red !important;
}

.swal2-confirm:focus,
.swal2-cancel:focus {
  box-shadow: none !important;
  border: none !important;
}
