.App {
  font-family: sans-serif;
  text-align: center;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 2px;
}
